@model CrudNET8MVC.Models.Contacto
@{
ViewData["Title"] = "Editar Contacto";
}

<div class="card card-primary">
    <div class="card-header">
        <h1 class="card-title">Borrar Contacto</h1>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <form asp-action="Borrar" method="post">
        @*ID del usuario como campo oculto*@
        <input type="hidden" asp-for="Id"/>

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Nombre" class="control-label"></label>
            <input asp-for="Nombre" class="form-control" readonly />
            <span asp-validation-for="Nombre" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Telefono" class="control-label"></label>
            <input asp-for="Telefono" class="form-control" readonly />
            <span asp-validation-for="Telefono" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Celular" class="control-label"></label>
            <input asp-for="Celular" class="form-control" readonly />
            <span asp-validation-for="Celular" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control" readonly />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
            <button type="submit" class="btn btn-danger d-block mx-auto">
                <i class="bi bi-eraser-fill"></i>Borrar Usuario
            </button>
        </div>
    </form>
    <br />
    <div>
        <a asp-controller="Inicio" asp-action="Index">Volver</a>
    </div>
</div>