@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model CrudNET8MVC.Models.Contacto
@{
    ViewData["Title"] = "Detalle del Contacto";
}

<div class="card card-primary">
    <div class="card-header">
        <h1 class="card-title">Detalle Contacto</h1>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <div class="card-body">
        <ul class="list-group">
            <li class="list-group-item"><strong>Nombre: </strong>@Html.DisplayFor(m => m.Nombre)</li>
            <li class="list-group-item"><strong>Telefono: </strong>@Html.DisplayFor(m => m.Telefono)</li>
            <li class="list-group-item"><strong>Celular: </strong>@Html.DisplayFor(m => m.Celular)</li>
            <li class="list-group-item"><strong>Email: </strong>@Html.DisplayFor(m => m.Email)</li>
        </ul>
    </div>
    <!-- /.card-body -->
    <br />
    <div>
        <a asp-controller="Inicio" asp-action="Index">Volver</a>
    </div>
</div>